<div class="nav mt-5 pe-md-5 ps-md-5 pe-2 ps-2">
    <div class="row w-100 justify-content-between">
        <div class="col-md-6 center">
            <img src="/assets/logo_navbar.svg"/>
        </div>
        <div class="col-md-6 d-none d-md-block d-flex justify-content-end">
            <ul class="navbar-nav justify-content-end" style="flex-direction: row">
                <li class="nav-item ms-5">
                    <a class="nav-link" href="#1">O Evento</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" href="#2">Programação</a>
                </li>
                <!-- <li class="nav-item ms-5">
                    <a class="nav-link" href="#3">Palestrantes</a>
                </li> -->
                <li class="nav-item ms-5">
                    <a class="nav-link" href="#4">Parcerias</a>
                </li>
                </ul>
        </div>
    </div>
    <div class="d-flex pt-4 justify-content-between w-100">
        <p class="center">GDG João Pessoa | WTM João Pessoa | Devfest Nordeste © 2023 | João Pessoa, Paraíba, Brasil | 02 de dezembro de 2023</p>
        <div class="d-none d-md-block">
            <a href="https://www.instagram.com/devfest.ne/" target="__blank">
                <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
            </a>
        </div>
    </div>
</div>

