${require('templates/partials/header.html') }
<section id="content">
    <section id="event-page">
        <div class="bg-overlay">
            <div class="intern-page-content">
                <header class="intern-page__header">
                </header>
                <div class="page-title">
                    <h1>NATAL</h1>
                    <h2>A CIDADE DO SOL</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="about-natal">
        <div class="intern-page-content">
            <p>
                <strong>Natal</strong>, intitulada como a Cidade do Sol, é um destino turístico mundialmente conhecido
                por ser porta de entrada para o litoral do estado, que é repleto de belas praias e atividades
                turísticas. A cidade conta com dois institutos federais de ensino superior, o IFRN e UFRN/IMD, além de
                abrigar o Parque Tecnológico Metrópole Digital, que visa fomentar, apoiar e desenvolver atividades
                relacionadas à ciência, tecnologia e inovação no Rio Grande do Norte.
            </p>
        </div>
    </section>
    <section id="about-event">
        <div class="intern-page-content">
            <article class="event__body--wrapper about-event">
                <div class="event__title">
                    <h1>Sobre</h1>
                    <h2>O evento</h2>
                </div>
                <div class="event__content">
                    <p><strong>DevFest</strong> é um grande evento organizado pela comunidade, que pode oferecer sessões
                        de palestras de várias
                        áreas, codelabs e muito mais. Cada DevFest é inspirado e voltado unicamente para as necessidades
                        da comunidade de desenvolvedores que participam do evento.</p>
                    <span class="quotation-mark mark-right">”</span>
                </div>
            </article>
            <article id="location" class="event__body--wrapper local-area">
                <div class="event__title">
                    <h1>
                        <div class="map-pin">
                            <img src="${require('img/map_pin.svg') }" width="100%" alt="Ícone do Mapa">
                        </div>
                        Local
                    </h1>
                    <h2>do evento</h2>
                </div>
                <div class="event__content">
                    <span class="quotation-mark mark-left">“</span>
                    <p>Situado no coração do bairro de Lagoa Nova, Zona Sul da cidade, o Sebrae RN possui um dos
                        melhores e mais modernos centros de eventos do nordeste brasileiro. A sua localização, além de
                        privilegiada - entre as duas principais avenidas da cidade, tem vista para o estádio Arena das
                        Dunas, palco dos jogos da Copa do Mundo de 2014.</p>
                </div>
            </article>
            <article class="event__body--wrapper hotel-area">
                <div class="event__title">
                    <h3>Sebrae RN</h3>
                    <p>Av. Lima e Silva, 76 <br> Lagoa Nova, Natal - RN <br> <a
                            href="http://www.sebrae.com.br/sites/PortalSebrae/ufs/rn/">http://rn.sebrae.com.br/</a></p>
                </div>
                <div class="event__content">
                    <p>Durante o dia 19 de outubro, o <strong>Sebrae RN</strong> vai sediar as atividades do DevFest
                        Nordeste 2019, que contará com nomes nacionais e internacionais de referência para a comunidade.
                    </p>
                </div>
            </article>
            <article class="map_img">
                <img src="#" alt="Mapa do evento">
            </article>
        </div>
        <span></span>
    </section>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1J5j7vquD-tE014ecdvMYbz419f7FyIr0" width="100%"
            height="500"></iframe>
    <div class="intern-page-content event-button-area">
        <div class="sponsor-button snake-button">
            <a href="/quero-patrocinar" class="devfest-button--light-blue">
                <span>Seja um patrocinador</span>
            </a>
        </div>
    </div>
    ${require('templates/partials/organization.html') }
</section>
${require('templates/partials/footer.html') }
