${require('templates/partials/header.html') }

<section class="content-wrapper" id="content">
    <div id="app-hero">
        <app-hero class="fade-in">
            <div _ngcontent-c3="" class="page-constraint">
                <div _ngcontent-c3="" class="hero-items-wrapper--mobile">
                    <img _ngcontent-c3="" class="slide-up hero-image--blue-circle" src="${require('img/svg/blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="slide-up hero-image--blue-cross" src="${require('img/svg/blue-cross.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--blue-diamond" src="${require('img/svg/blue-diamond.svg') }"/>
                    <img _ngcontent-c3="" class="slide-up hero-image--green-diagonal-squares" src="${require('img/svg/diagonal-squares.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--green-pointer" src="${require('img/svg/green-pointer.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--green-square" src="${require('img/svg/green-square.svg') }"/>
                    <img _ngcontent-c3="" class="slide-up hero-image--top-light-blue-circle" src="${require('img/svg/light-blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--bottom-light-blue-circle" src="${require('img/svg/light-blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--red-chatbox" src="${require('img/svg/red-chatbox.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--red-square" src="${require('img/svg/red-square.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--red-diamond" src="${require('img/svg/red-diamond.svg') }"/>
                    <img _ngcontent-c3="" class="slide-up hero-image--yellow-play-button-mobile" src="${require('img/svg/yellow-play-button-mobile.svg') }"/>
                    <img _ngcontent-c3="" class="slide-up hero-image--yellow-sphere" src="${require('img/svg/yellow-sphere.svg') }"/>
                    <img _ngcontent-c3="" class="slide-down hero-image--yellow-vertical-rectangle" src="${require('img/svg/yellow-vertical-rectangle.svg') }"/>
                </div>
                <div _ngcontent-c3="" class="hero-items-wrapper--desktop">
                    <img _ngcontent-c3="" class="hero-image--top-blue-circle" src="${require('img/svg/blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--bottom-blue-circle" src="${require('img/svg/blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--blue-cross" src="${require('img/svg/blue-cross.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--blue-diamond" src="${require('img/svg/blue-diamond.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--blue-chevron" src="${require('img/svg/light-blue-down-carat.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-rectangle" src="${require('img/svg/green-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--blue-square" src="${require('img/svg/blue-square.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--blue-vertical-rectangle" src="${require('img/svg/blue-vertical-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-diagonal-squares" src="${require('img/svg/diagonal-squares.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-half-oval" src="${require('img/svg/green-half-oval.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-pointer" src="${require('img/svg/green-pointer.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-square" src="${require('img/svg/green-square.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--green-circle" src="${require('img/svg/green-circle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--light-blue-circle" src="${require('img/svg/light-blue-circle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--orange-curve" src="${require('img/svg/orange-curve.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--red-chatbox" src="${require('img/svg/red-chatbox.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--red-diamond" src="${require('img/svg/red-diamond.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--red-hand" src="${require('img/svg/red-hand.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--left-red-rectangle" src="${require('img/svg/red-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--right-red-rectangle" src="${require('img/svg/red-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--red-square" src="${require('img/svg/red-square.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--light-red-rectangle" src="${require('img/svg/light-red-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--light-red-square" src="${require('img/svg/light-red-square.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--red-triangle" src="${require('img/svg/red-triangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-nested-rectangle" src="${require('img/svg/yellow-nested-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-play-button" src="${require('img/svg/yellow-play-button-v2.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-pointer" src="${require('img/svg/yellow-pointer-hand.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-rectangle" src="${require('img/svg/yellow-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-vertical-rectangle" src="${require('img/svg/yellow-vertical-rectangle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-semi-circle" src="${require('img/svg/yellow-semi-circle.svg') }"/>
                    <img _ngcontent-c3="" class="hero-image--yellow-sphere" src="${require('img/svg/yellow-sphere.svg') }"/>
                </div>
                <div _ngcontent-c3="" class="copy">
                    <div _ngcontent-c3="" class="title">
                        <img _ngcontent-c3="" class="logo-mobile" src="${require('img/svg/logo.svg') }">
                        <img _ngcontent-c3="" class="logo-base" src="${require('img/svg/logo-base.svg') }">
                        <img _ngcontent-c3=""
                                class="logo-details"
                                src="${require('img/svg/logo-details.svg') }"/>
                    </div>
                    <div _ngcontent-c3="" class="subheader">
                        <svg _ngcontent-c3=""
                                height="51"
                                viewBox="0 0 202 51"
                                width="202"
                                xmlns="http://www.w3.org/2000/svg">
                            <g _ngcontent-c3=""
                                    fill="none"
                                    fill-rule="evenodd"
                                    stroke="#202124"
                                    stroke-width="1.189">
                                <path _ngcontent-c3=""
                                        d="M184.47 1c8.948 0 16.201 7.306 16.201 16.318v16.317c0 9.013-7.253 16.318-16.2 16.318H172.32M74.373 1c8.947 0 16.2 7.306 16.2 16.318v16.317c0 9.013-7.253 16.318-16.2 16.318-8.948 0-16.202-7.305-16.202-16.318V17.318C58.171 8.306 65.425 1 74.373 1zM129.841 1.157v48.796M25.099 49.953H1v-8.16"></path>
                                <path _ngcontent-c3=""
                                        d="M1 41.794c0-6.31 5.079-11.425 11.344-11.425 8.052 0 14.58-6.575 14.58-14.684C26.923 7.575 20.395 1 12.343 1H1M184.47 1c-8.947 0-16.2 7.306-16.2 16.318s7.253 16.317 16.2 16.317c8.948 0 16.201-7.305 16.201-16.317"></path>
                            </g>
                        </svg>
                    </div>
                    <div _ngcontent-c3="" class="subheader subheader--mobile">
                        <svg _ngcontent-c3=""
                             height="51"
                             viewBox="0 0 202 51"
                             width="202"
                             xmlns="http://www.w3.org/2000/svg">
                            <g _ngcontent-c3=""
                               fill="none"
                               fill-rule="evenodd"
                               stroke="#202124"
                               stroke-width="1.189">
                                <path _ngcontent-c3=""
                                        d="M184.47 1c8.948 0 16.201 7.306 16.201 16.318v16.317c0 9.013-7.253 16.318-16.2 16.318H172.32M74.373 1c8.947 0 16.2 7.306 16.2 16.318v16.317c0 9.013-7.253 16.318-16.2 16.318-8.948 0-16.202-7.305-16.202-16.318V17.318C58.171 8.306 65.425 1 74.373 1zM129.841 1.157v48.796M25.099 49.953H1v-8.16"></path>
                                <path _ngcontent-c3=""
                                        d="M1 41.794c0-6.31 5.079-11.425 11.344-11.425 8.052 0 14.58-6.575 14.58-14.684C26.923 7.575 20.395 1 12.343 1H1M184.47 1c-8.947 0-16.2 7.306-16.2 16.318s7.253 16.317 16.2 16.317c8.948 0 16.201-7.305 16.201-16.317"></path>
                            </g>
                        </svg>
                    </div>
                    <div _ngcontent-c3="" class="description formatted-html">
                        <div>
                            DevFest Nordeste
                        </div>
                    </div>
                    <div _ngcontent-c3=""
                         class="description description--mobile formatted-html">
                        <div>
                            DevFest NE
                        </div>
                    </div>
                </div>
                <div _ngcontent-c3="" class="cta">
                    <p _ngcontent-c3="" class="cta-text">
                        Arrasta pra cima e vem comigo
                    </p>
                    <img _ngcontent-c3="" class="cta-icon" src="${require('img/svg/blue-down-carat.svg') }"/>
                </div>
                <div _ngcontent-c3="" class="cta cta--mobile">
                    <p _ngcontent-c3="" class="cta-text">
                        Veja mais
                    </p>
                    <img _ngcontent-c3="" class="cta-icon" src="${require('img/svg/blue-down-carat.svg') }"/>
                </div>
            </div>
        </app-hero>
    </div>
    <section id="about" class="about-wrapper">
        <div class="about-container">
            <div class="about">
                <header class="section-header-wrapper">
                    <div class="section-header">
                        <h1 class="section-title--left">
                            O evento
                        </h1>
                    </div>
                </header>
                <div class="about__article__body">
                    <p>
                        É um grande evento organizado pela comunidade, que pode oferecer sessões de palestras de várias
                        áreas, codelabs e muito mais. Cada DevFest é inspirado e voltado unicamente para as necessidades
                        da comunidade de desenvolvedores que participam do evento.
                    </p>
                    <p>Este ano organizada pelas comunidades GDG's do Nordeste.</p>
                    <div class="about-button-area">
                        <a href="/evento#location" class="scroll about-button devfest-button--white">
                            Conheça o local
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors" class="sponsors-wrapper">
        <div class="sponsors-container">
            <div class="sponsors sponsors-page">
                ${require('templates/partials/patrocinadores.html') }
            </div>
            <div class="sponsor-button-area">
                <div id="beASponsor" class="sponsor-button snake-button">
                    <a href="/quero-patrocinar" class="devfest-button--light-blue">
                        <span>Quero patrocinar</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="partners" class="partners-wrapper">
        <div class="partners-container">
            <div class="partners">
                <header class="section-header-wrapper">
                    <div class="section-header--right">
                        <h1 id="diamond" class="section-title--right">
                            Parceiros
                        </h1>
                    </div>
                </header>
                <div class="partner-list">
                    <a class="partner" target="_blank" href="http://www.sebrae.com.br/sites/PortalSebrae">
                        <img src="${require('img/logo-sebrae.svg') }" alt="Sebrae Logo">
                    </a>
                    <a class="partner" target="_blank" href="http://https://www.sebraelab.sebrae.com.br">
                        <img src="${require('img/logo-sebraelab.png') }" alt="SebraeLab Logo">
                    </a>
                    <a class="partner" target="_blank" href="http://https://www.mangai.com.br">
                        <img src="${require('img/logo-mangailabs.svg') }" alt="MangaiLabs Logo">
                    </a>
                </div>
            </div>
        </div>
    </section>
    ${require('templates/partials/organization.html') }
</section>
${require('templates/partials/footer.html') }
