${require('templates/partials/header.html') }
<div id="content" class="intern-page-content speaker-container">
  <header class="intern-page__header">
    <h1 class="header__title">
      Palestrantes
    </h1>
    <p class="header__subtitle">As pessoas palestrantes do Devfest possuem uma variedade de experiências, que vão desde pessoas desenvolvedoras experientes à lideres de comunidades. As pessoas que palestram com frenquência se engajam em conversas técnicas em suas empresas, cidades e países. No Devfest você pode esperar palestras de Google Developer Experts, Tech Leads, pessoas desenvolvedoras e resolvedores de problemas.</p>
  </header>
  <div class="container speakers-page">
    <ul class="speakers-list">
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/allef-gomes.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Allef Gomes de Almeida</h4>
        <h5 class="speaker-item__skill">Tecnologias web</h5>
        <p class="speaker-item__description">Sou graduado em Sistemas para Internet, atualmente estou finalizando minha pós graduação em MBA em Engenharia de Software Ágil, trabalho a 5 anos com desenvolvimento de softwares, atualmente tenho estudado sobre arquitetura e desenvolvimento ágil.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/antonio-pedro.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Antonio Pedro Ferreira</h4>
        <h5 class="speaker-item__skill">Carreira e Desenvolvimento Pessoal</h5>
        <p class="speaker-item__description">Profissional com ampla experiência em TI, iniciando sua carreira em 2004. Atualmente é Tech Manager no Picpay e fundador do Instituto Itinerante de Tecnologia, nos últimos anos tem se especializado em construir times de alta performance, ajudando startups e empresas a tirar suas ideias do papel. </p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/bianca-ximenes.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Bianca Ximenes</h4>
        <h5 class="speaker-item__skill">Machine Learning</h5>
        <p class="speaker-item__description">Bianca foi nomeada pelo Google Developers em 2021 como uma de 21 mulheres ao redor do mundo que estão abrindo novos caminhos de relevância na tecnologia. Ela é Head de Inteligência Artificial na Gupy e Google Developer Expert em Machine Learning. Seu trabalho impacta milhões de pessoas.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/carlos-vitor.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Carlos Vitor da Silva Mesquita</h4>
        <h5 class="speaker-item__skill">Carreira e Desenvolvimento Pessoal</h5>
        <p class="speaker-item__description">Olá, eu sou Carlos Mesquita e junto de mais 4 amigos, estou jornada do empreendedorismo  com a startup This.envolve e lançando nosso primeiro produto digital, ainda como universitários, o Weekend. Busco mostrar o poder inovação e negócios ainda dentro da universidade, de estudante para estudante.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/debora-ruth.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Débora Ruth da Silva Valentim </h4>
        <h5 class="speaker-item__skill">Infra / DevOps / SRE</h5>
        <p class="speaker-item__description">Estudante de Engenharia de Software pela UFC, tenho alguns artigos publicados na área de Computação Forense e Big Data com Inteligência Artificial. fui Analista de Segurança da Informação da Toro Investimento empresa do Santander e hoje sou Analista de Segurança da Informação da Gupy e certificações</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/fellyph-cintra.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Fellyph Cintra</h4>
        <h5 class="speaker-item__skill">Tecnologias web</h5>
        <p class="speaker-item__description">Fellyph Cintra é um desenvolvedor Front-end apaixonado por desempenho web, acessibilidade e SEO. Sempre esteve envolvido no apoio às comunidades de desenvolvedores locais, pois acredita que as comunidades são ferramentas de integração e desenvolvimento social.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/italo-marcel.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Italo Marcel S. Santana</h4>
        <h5 class="speaker-item__skill">Mobile</h5>
        <p class="speaker-item__description">Um gamer nato e apaixonado por Android, formado em Programação de Sistemas pelo Instituto Federal de Sergipe e graduando em Ciência da Computação pela Universidade Federal de Sergipe. Programa desde os 15 anos de idade, e já desenvolveu diversos aplicativos durante os mais de 10 anos como Developer.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/jacob-moura.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Jacob Moura</h4>
        <h5 class="speaker-item__skill">Flutter</h5>
        <p class="speaker-item__description">co-CEO na F-Team | Flutterando founder | Google Developer Expert em Flutter.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/moises-barbosa.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Moises Barbosa dos Santos</h4>
        <h5 class="speaker-item__skill">Qualidade de Código</h5>
        <p class="speaker-item__description">Oi! Sou o Moises, atualmente atuo como Dev FrontEnd, mas tenho conhecimento sobre o BackEnd também por ter uma base sólida com Java, estudo sobre a área de Desenvolvimento e mais especificamente Desenvolvimento Web a quase dois anos e estou atuando como Estagiário na IBM.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/nelson-glauber.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Nelson Glauber</h4>
        <h5 class="speaker-item__skill">Mobile</h5>
        <p class="speaker-item__description">Nelson Glauber é mestre em engenharia de software com mais de 20 anos de experiência na área. Começou a trabalhar com Android em 2008 e em 2014 foi nomeado como primeiro Google Developer Expert de Android da América Latina. É autor do livro "Dominando o Android" e Senior Android Developer na Nagarro.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/silvia-coelho.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Silvia Coelho</h4>
        <h5 class="speaker-item__skill">Carreira e Desenvolvimento Pessoal</h5>
        <p class="speaker-item__description">Silvia Coelho, paraense, mãe de 2, é Mestra e Graduada em Engenharia Elétrica. Em 2017, criou a Elas Programam para incentivar mais mulheres a seguirem carreira em tecnologia. Silvia é LinkedIn Top Voices & Creator, palestrante, com mais de 100 mil seguidores em diversos canais digitais.</p>
      </li>
      <li class="speaker-item">
        <figure class="speaker-item__image">
          <img src="../img/palestrantes/wilson-mendes.jpeg" />
        </figure>
        <h4 class="speaker-item__name">Wilson Mendes Neto</h4>
        <h5 class="speaker-item__skill">Carreira e Desenvolvimento Pessoal</h5>
        <p class="speaker-item__description">Google Developer Expert (GDE) em Angular e Tecnologias Web e Microsoft Most Valuable Professional (MVP) em Developer technologies, autor do livro Nodebots - Javascript e robótica no mundo real e contribuidor em projetos Open Source</p>
      </li>
    </ul>
  </div>
</div>
${require('templates/partials/footer.html') }
