${require('templates/partials/header.html') }
<div id="content" class="intern-page-content sponsor-container">
  <header class="intern-page__header">
    <h1 class="header__title">
      Nossos patrocinadores
    </h1>
  </header>
  <div class="container sponsors-page">
    <div class="midiakit-container">
      <a href="https://drive.google.com/file/d/1TfgJLaAk6FCC7O2uDPrDGV3ZdZDctqO3/view?usp=sharing" target="_blank" class="devfest-button--dark midiakit-button">
        Baixe o Media Kit do evento
      </a>
    </div>
    ${require('templates/partials/patrocinadores.html') }
    <a href="/quero-patrocinar" class="devfest-button--light-blue call-to-sponsor">
      Quero Patrocinar
    </a>
  </div>
</div>
${require('templates/partials/footer.html') }
