${require('templates/partials/header.html') }
<div id="content" class="intern-page-content sponsor-container">
  <header class="intern-page__header">
    <h1 class="header__title">
      Nossos patrocinadores
    </h1>
  </header>
  <div class="container sponsors-page">
    <div class="midiakit-container">
      <a href="https://docs.google.com/presentation/d/11zmWTSTBYhbLQlePvlAh8TFk6MdptBdw9TcggR4EZ5c" class="devfest-button--dark midiakit-button">
        Baixe o Media Kit do evento
      </a>
    </div>
    ${require('templates/partials/patrocinadores.html') }
    <a href="/quero-patrocinar" class="devfest-button--light-blue call-to-sponsor">
      Quero Patrocinar
    </a>
  </div>
</div>
${require('templates/partials/footer.html') }
