<div class="me-lg-5 ms-lg-5 me-md-3 ms-md-3 me-2 ms-2 mt-lg-5 mt-3" id="1">
    <div class="row">
        <div class="col-md-6">
           <div class="d-flex titulo">
                <img src="/assets/icon_title.svg" class="icon_title"/>
                <div class="ms-4 d-flex align-content-center flex-wrap">
                    <h1> O Evento </h1> 
                </div>
            </div> 
            <div>
                <h2 style="margin-top: 24px; margin-bottom: 24px;"> Não sei, só sei que foi assim</h2>
                <p>
                    DevFests são eventos de tecnologia organizados anualmente por comunidades de desenvolvedores, os Google Developer Groups (GDGs), no mundo inteiro.
                </p>
                <p>
                    Nos últimos anos, as comunidades dos Estados do Nordeste resolveram se unir para realizar o <strong>DevFest Nordeste</strong>, dando destaque aos talentos locais e também promovendo a troca de conhecimentos entre os participantes.
                </p>
                <p>
                    O evento tem como público alvo profissionais de tecnologia, estudantes, e empresários, e aborda tanto conhecimentos técnicos, quanto questões como diversidade, soft skills e experiências profissionais.
                </p>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="/assets/image_evento.svg" class="image_nordeste">
        </div>
    </div>
    
</div>
