<!DOCTYPE html>
<head>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@devfestne">
  <meta name="twitter:image" content="">
  <meta name="twitter:description" content="É um grande evento organizado pela comunidade, que pode oferecer sessões de palestras de várias áreas, codelabs e muito mais. Cada DevFest é inspirado e voltado unicamente para as necessidades da comunidade de desenvolvedores que participam do evento.">
  <meta property="og:url" content="https://ne.devfesst.com.br">
  <meta property="og:type" content="website">
  <meta property="og:title" content="DevFest Nordeste 2022">
  <meta property="og:description" content="">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image" content="É um grande evento organizado pela comunidade, que pode oferecer sessões de palestras de várias áreas, codelabs e muito mais. Cada DevFest é inspirado e voltado unicamente para as necessidades da comunidade de desenvolvedores que participam do evento.">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="${require('img/favicon.ico')}"/>
  <meta charset="UTF-8">
  <title>DevFest Nordeste 2022</title>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#4185f4"/>
</head>
<body>
  ${require('templates/partials/loading-animation.html')}
  ${require('templates/partials/snackbar.html')}
  <nav id="mobile-nav" class="header__nav-mobile">
    <header class="header__nav-mobile__header">
      <h1>Menu</h1>
      <button class="mobile-nav-trigger--close" id="mobile-nav-close-trigger"></button>
    </header>
    <ul class="nav__items">
      <a class="nav__anchor" target="_blank" href="/evento"><li class="nav__item">Evento</li></a>
      <a class="nav__anchor" target="_blank" href="/programacao"><li class="nav__item">Programação</li></a>
      <a class="nav__anchor" target="_blank" href="/quero-patrocinar"><li class="nav__item">Quero Patrocinar</li></a>
      <a class="nav__anchor" target="_blank" href="/palestrantes"><li class="nav__item">Palestrantes</li></a>
      <a class="nav__anchor" target="_blank" href="https://drive.google.com/file/d/1TfgJLaAk6FCC7O2uDPrDGV3ZdZDctqO3/view?usp=sharing"><li class="nav__item">Media Kit do Evento</li></a>
      <a class="nav__anchor" target="_blank" href="/patrocinadores"><li class="nav__item">Patrocinadores</li></a>
    </ul>
  </nav>
  <div id="top" class="content-body">
    <header class="header">
      <nav class="header__nav">
        <div class="header__mobile">
          <a href="/">
            <img width="140px" src="${require('img/logo-gdg.png')}" alt="Logo GDG">
          </a>
          <button class="mobile-nav-trigger" id="mobile-nav-trigger"></button>
        </div>
        <ul class="nav__items">
          <li class="nav__item logo">
            <a class="nav__anchor" href="/">
              <img height="41px" src="${require('img/logo-gdg.png')}" alt="Logo GDG">
            </a>
          </li>
          <li class="nav__item"><a class="nav__anchor" href="/evento">Evento</a></li>
          <li class="nav__item"><a class="nav__anchor" href="/programacao">Programação</a></li>
          <li class="nav__item"><a class="nav__anchor" href="/palestrantes">Palestrantes</a></li>
          <li class="nav__item toolbar mdc-menu-anchor">
            <a class="nav__anchor sponsor-dropdown" href="javascript:void(0)">Patrocínio</a>
            <div class="mdc-menu" tabindex="-1">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <a href="/quero-patrocinar" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Quero Patrocinar
                  </li>
                </a>

                <a href="https://drive.google.com/file/d/1TfgJLaAk6FCC7O2uDPrDGV3ZdZDctqO3/view?usp=sharing" target="_blank" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Media Kit do Evento
                  </li>
                </a>
                <a href="/patrocinadores" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Patrocinadores
                  </li>
                </a>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <section id="page-content" class="page-content">