<section id="organization" class="organization-wrapper">
    <div class="organization-container">
        <div class="organization">
            <header class="section-header-wrapper">
                <div class="section-header">
                    <h1 class="section-title--left">
                        Organização
                    </h1>
                </div>
            </header>
            <ul>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-fortaleza/">
                        <img src="${require('img/logo-gdg-fortaleza.png') }" alt="GDG Fortaleza">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-salvador/">
                        <img src="${require('img/logo-gdg-salvador.png') }" alt="GDG Salvador">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-recife/">
                        <img src="${require('img/logo-gdg-recife.png') }" alt="GDG Recife">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-joao-pessoa/">
                        <img src="${require('img/logo-gdg-joao-pessoa.png') }" alt="GDG João Pessoa">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.meetup.com/gdgaracaju/">
                        <img src="${require('img/logo-gdg-aracaju.png') }" alt="GDG Aracaju">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-natal/">
                        <img src="${require('img/logo-gdg-natal.png') }" alt="GDG Natal">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-parnaiba/">
                        <img src="${require('img/logo-gdg-parnaiba.png') }" alt="GDG Parnaíba">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://gdg.community.dev/gdg-sao-luis/">
                        <img src="${require('img/logo-gdg-sao-luis.png') }" alt="GDG São Luís">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>