<section id="organization" class="organization-wrapper">
    <div class="organization-container">
        <div class="organization">
            <header class="section-header-wrapper">
                <div class="section-header">
                    <h1 class="section-title--left">
                        Organização
                    </h1>
                </div>
            </header>
            <ul>
                <li>
                    <a target="_blank" href="https://www.meetup.com/gdgfortaleza//">
                        <img src="${require('img/logo-gdg-fortaleza.png') }" alt="GDG Fortaleza">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.meetup.com/gdg-salvador/">
                        <img src="${require('img/logo-gdg-salvador.png') }" alt="GDG Salvador">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.meetup.com/GDG-Recife/">
                        <img src="${require('img/logo-gdg-recife.png') }" alt="GDG Recife">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.meetup.com/gdgjoaopessoa/">
                        <img src="${require('img/logo-gdg-joao-pessoa.png') }" alt="GDG João Pessoa">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.meetup.com/gdgaracaju/">
                        <img src="${require('img/logo-gdg-aracaju.png') }" alt="GDG Aracaju">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>