<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Platina</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-platina">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://google.com/">
        <img src="${require('img/logo-google.svg') }" width="100%" alt="Google Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>Google</h3>
        <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products.</p>
        <a href="https://google.com/" target="_blank">https://google.com/</a>
      </div>
    </div>
  </article>
</section>
<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Ouro</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-gold">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://www.evolux.net.br/">
        <img src="${require('img/logo-evolux.svg') }" width="100%" alt="Evolux Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>Evolux</h3>
        <p>Solução para Call Centers com foco na experiência do cliente.</p>
        <a href="https://www.evolux.net.br/" target="_blank">https://www.evolux.net.br/</a>
      </div>
    </div>
  </article>
</section>
<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Prata</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-silver">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="http://mangai.com.br/">
        <img src="${require('img/logo-mangailabs.svg') }" width="100%" alt="MangaiLabs Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>MaingaiLabs</h3>
        <p>O Grupo Mangai, empresa referência na gastronomia brasileira, possui uma rede de restaurantes distribuída na Paraíba, Rio Grande do Norte e Distrito Federal, com marcas como Mangai, NAU Frutos do Mar e Gelato Mangai. Com o objetivo de criar produtos, serviços e antecipar o amanhã foi criado o MangaiLabs, um centro de pesquisas e desenvolvimento formado por um grupo de engenheiros e desenvolvedores, que buscam incansavelmente inovações para todos os segmentos da empresa. No MangaiLabs, a tecnologia é utilizada para que os nossos clientes tenham uma experiência final diferenciada e para isso, contemplamos desde a escolha das matérias-primas até a saída do cliente dos nossos restaurantes. </p>
        <a href="http://mangai.com.br/" target="_blank">www.mangai.com.br</a>
      </div>
    </div>
  </article>
</section>
