<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Platina</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-platina">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://google.com/">
        <img src="${require('img/logo-google.svg') }" width="100%" alt="Google Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>Google</h3>
        <p>Google LLC is an American multinational technology company that specializes in Internet-related services and products.</p>
        <a href="https://google.com/" target="_blank">https://google.com/</a>
      </div>
    </div>
  </article>
</section>
<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Ouro</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-gold">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://www.evolux.net.br/">
        <img src="${require('img/logo-evolux.svg') }" width="100%" alt="Evolux Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>Evolux</h3>
        <p>Solução para Call Centers com foco na experiência do cliente.</p>
        <a href="https://www.evolux.net.br/" target="_blank">https://www.evolux.net.br/</a>
      </div>
    </div>
  </article>
  <article class="sponsor__body--wrapper sponsor-gold">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://www.stone.com.br/">
        <img src="${require('img/logo-stone.png') }" width="100%" alt="Stone Logo">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>Stone</h3>
        <p>Trabalhamos por um mercado mais justo para os empreendedores, oferecendo soluções eficazes e sem burocracias.</p>
        <a href="https://www.stone.com.br/" target="_blank">https://www.stone.com.br/</a>
      </div>
    </div>
  </article>
</section>
<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Prata</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-silver">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://www.ivia.com.br/">
        <img src="${require('img/logo-ivia.png') }" width="100%" alt="Logo IVIA">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>IVIA</h3>
        <p>Founded in 1996, IVIA is a company specialized in information technology that develops solutions to improve and expand the business of its customers, either by reducing costs, increasing productivity or generating innovation. IVIA has an excellent technical staff and specialized consultants, as it knows that its main asset is intellectual capability. Its social responsibility begins within the company, where talents are valued, respected and compensated, creating an atmosphere of constant collaboration and creativity.</p>
        <a href="https://www.ivia.com.br/" target="_blank">https://www.ivia.com.br/</a>
      </div>
    </div>
  </article>
</section>
<section class="sponsor">
  <div class="sponsor__header">
    <h2>Patrocinadores Bronze</h2>
  </div>
  <article class="sponsor__body--wrapper sponsor-cooper">
    <div class="sponsor__logo--wrapper">
      <a class="sponsor-logo" target="_blank" href="https://www.inloco.com.br/">
        <img src="${require('img/logo-inloco.png') }" width="100%" alt="Logo IVIA">
      </a>
    </div>
    <div class="sponsor__content--wrapper">
      <div class="sponsor__content">
        <h3>In Loco</h3>
        <p>Trabalhamos por um mundo onde a tecnologia traz conveniência sem invadir a privacidade das pessoas. Por isso, utilizamos técnicas avançadas de anonimização nos nossos dados, para conectar empresas a consumidores de forma significativa e fluida.

        </p>
        <a href="https://www.inloco.com.br/" target="_blank">https://www.inloco.com.br/</a>
      </div>
    </div>
  </article>
</section>
