.div_palestrantes{
    background: url(/assets/palestrantes.svg) top left no-repeat,
    url(/assets/palestrantes_bottom.svg) bottom right no-repeat;;
    background-position: 0% 0%, 100% 100%;
    width: 100%;
}

.flex_palestrantes{
    padding-top: 220px;
    padding-left: 60px;
    padding-right: 60px;
}

.descricao{
    margin-top: 60px;
    padding-left: 60px;
}

.card{
    border-radius: 16px;
    background-color: #FFF;
    width: 240px;
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: 16px;
    height: 292px;
    cursor: pointer;
}

.image{
    width: 130px;
}

p{
    color: var(--Black, #303031);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
    text-align: justify;
}

h3{
    color: var(--Black, #303031);
    text-align: center;
    font-family: 'Product Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 120% */
    letter-spacing: -0.5px;
    margin-top: 16px;
    margin-bottom: 0px;
}

h4{
    color: var(--Gray, #66645E);
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.4px;
    margin-top: 8px;
    margin-bottom: 0px;
}

h5{
    color: var(--Black, #303031);
    font-family:'Product Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 500px) {
    .div_palestrantes{
        background: url(/assets/palestrantes_md.svg) top left no-repeat;
        background-position: 0% 0%;
        width: 100%;
    }
    .flex_palestrantes{
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .descricao{
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-top: 20px !important;
    }
    p{
        text-align: center !important;
        font-size: 14px;
        line-height: 20px;
    }
    .card{
        width: 100%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .div_palestrantes{
        background: url(/assets/palestrantes_md.svg) top left no-repeat;
        background-position: 0% 0%;
        width: 100%;
    }
}

@media only screen and (min-width: 1001px) {

}