.category-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .schedule_category {
    background: none;
    padding: 0;
    font-size: 12px;
    margin-right: 10px;
  }
}

.advanced-filters {
  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
    display: block;
  }
}

.empty-message {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: $google-text-white;
  font-size: 1.2em;
}

.Popover {
  z-index: 9999;
  width: 30vw;
  min-width: 400px;
  padding-right: 10px;
  @media(max-width: 768px) {
    width: 90vw;
    min-width: auto;
  }

  .Popover-body {
    border-radius: 2px;
    background-color: $google-text-white;
    padding: 20px;
  }

  .Popover-tip {
    fill: white;
  }
}

.schedule_category {
  background: $google-blue;
  font-size: 10px;
  color: $google-blue;
  padding: 2px 5px 1px 5px;
  border-radius: 2px;
  margin-left: 5px;
  white-space: nowrap;

  &.pessoas {
    background: #8b9ffc;
  }

  &.data-science {
    background: #ce9bc4;
  }

  &.web {
    background: #f5bc8b;
  }

  &.devops {
    background: #3a8bbb;
  }
}

.schedule-page {
  padding: 60px 0;
  margin-top: 40px;

  .loading {
    color: $google-red;
    text-align: center;
  }

  &__content {
    padding: 0 70px;
  }

  .day-separator {
    margin: 60px 0;
    font-size: 30px;

    span {
      font-weight: 200;
    }
  }

  .schedule_subtitle {
    font-size: 14px;
    text-align: center;
    color: $google-text-light;
    background: rgba(white, 0.1);
    padding: 20px;
  }

  .keynote_star {
    color: $google-blue;
    font-size: 16px;

    i {
      background: url('../img/keynote_star.svg') no-repeat;
      display: inline-block;
      width: 14px;
      height: 14px;
    }
  }

  .schedule-page__title {
    display: inline-block;
    color: $google-yellow;
    font-size: 22px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 4px solid $google-yellow;
  }

  .accordion-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      color: $google-yellow;
      text-align: center;
      padding-bottom: 5px;
    }

    a:hover {
      color: $background-light;
    }
  }

  .tab-link {
    color: $google-text-dark;
    text-align: center;
    padding-bottom: 5px;
  }

  .filters {
    background-color: white;
    color: $google-text-light;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

    .filter-box {
      width: 360px;
      display: flex;
      align-items: flex-start;

      .filters-search {
        width: 100%;
        position: relative;

        input {
          width: 100%;
          color: $google-text-dark;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid white;
          padding: 0 30px 10px 0;
          outline: none;

          &::-webkit-input-placeholder {
            color: $google-text-light;
          }

          &:focus {
            border-color: $google-blue;

            &::-webkit-input-placeholder {
              color: rgba($google-text-light, 0.5);
            }
          }
        }

        .material-icons {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      button {
        display: flex;
        color: $google-text-white;
        line-height: normal;
        background-color: transparent;
        padding-left: 5px;
        border: none;
        padding-right: 5px;
        outline: none;
      }
    }

    .accordion-tabs {
      width: 100%;
    }
  }

  .schedule_category_type a {
    font-size: 22px;
    &.active {
      border-bottom: 5px solid $google-yellow;
    }
  }

  .schedule_category_days {
    text-align: center;
  }

  .schedule_category_days a {
    font-size: 22px;
    color: $google-text-white;
    display: inline-block;
    border-bottom: 2px solid transparent;

    &.active {
      color: $google-yellow;
      border-bottom: 2px solid $google-yellow;
    }
  }

  .schedule_article {
    display: flex;
    flex-direction: row;
  }

// .schedule_article:last-child .picture-container:after
  .schedule_article:last-child .picture-container:before {
    display: none;
  }

  .schedule_picture {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;

    img {
      position: relative;
      z-index: 9;
    }
  }

  .picture-container {
    position: relative;
    width: 60px;

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $google-blue;
      display: block;
      position: absolute;
      left: 30px;
      top: 10px;
    }

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $google-blue;
      display: block;
      position: absolute;
      left: 22px;
      top: 2px;
    }
  }

  .schedule_info {
    padding-left: 35px;
    margin-bottom: 20px;
  }

  .schedule_time {
    color: $google-green;
    font-size: 14px;
    font-weight: 400;
    padding-right: 35px;
    width: 40px;
  }

  .schedule_name {
    color: $google-blue;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
  }

  .schedule-highlight .schedule_name {
    color: $google-text-dark;
  }

  .schedule_office {
    font-size: 14px;
    font-weight: 200;
    color: rgba($google-text-light, 0.6);
  }

  .schedule_location {
    @extend .schedule_office;
    @extend .d-flex;
    @extend .align-items-center;
    color: $google-yellow;
    font-size: 11px;

    .material-icons {
      font-size: inherit;
      margin-right: 5px;
      font-size: 20px;
      color: $google-blue;
    }
  }

  .schedule_speaker {
    font-size: 14px;
    font-weight: 400;
    color: $google-text-light;
    margin-bottom: 0;
  }
}

@media (max-width: $breakpoint-xs) {
  .schedule-page {
    &__content {
      padding: 0 20px;
    }
    .filters {
      flex-wrap: wrap;
      justify-content: center;
      .filter-box {
        width: 100%;
      }
    }
    .schedule_picture {
      width: 30px;
    }
  }
}
