<div class="row mt-5 align-items-center me-md-5 ms-md-5 me-3 ms-3" id="4">
    <div class="col-md-6 d-none d-md-block">
        <img src="/assets/parcerias.png" width="100%"/>
    </div>
    <div class="col-md-6">
        <h2>Se avexe não, patrocine.</h2>
        <p>Junte-se a nós como patrocinador e tenha a oportunidade de destacar sua empresa na maior conferência de desenvolvimento de software do ano!</p>
        <button mat-raised-button class="primary_button" (click)="redirecionarParaEmail()">Seja uma empresa parceira</button>
    </div>
</div>