<div class="mt-5" id="4">
    <img src="assets/parceiras.png" class="tam_parceria">
    <div class="d-flex justify-content-center">
        <img src="assets/visionary.png" class="tam_company" style="margin-top: 50px !important;">
    </div>
    <div class="row w-100 justify-content-evenly mt-5">
        <img src="assets/parceiras/GRUPO NEIVA LOGO.png" class="tam_visionary col-6">
        <img src="assets/parceiras/logo-Google_Developers_text.svg" class="tam_visionary col-6">
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="assets/innovator.png" class="tam_companys">
            </div>
            <div class="row w-100 justify-content-evenly mt-4">
                <img src="assets/parceiras/gpsdoingles.png" class="tam_innovator col-6">
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="assets/network.png" class="tam_companys">
            </div>
            <div class="row w-100 justify-content-evenly mt-5">
                <img src="assets/parceiras/devmedia.png" class="tam_network col-md-6">
                <img src="assets/parceiras/phoebus.png" class="tam_network col-md-6">
            </div>  
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <img src="assets/partner.png" class="tam_companys">
            </div>
            <div class="row w-100 justify-content-evenly mt-5">
                <img src="assets/parceiras/rebase-azul.png" class="tam_partner col-6">
            </div>
        </div>
        
    </div>
</div>