
$footer-margin: 0px;
$footer-padding-top: 50px;

/* STICKY FOOTER */
.content-body {
  overflow-x: hidden;
}
@media (min-width: $breakpoint-xs) {
  .content-body {
    position: relative;
    min-height: calc(100% - #{$nav-height});
    padding-bottom: 583px + $footer-padding-top + $footer-margin;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
@media (min-width: $breakpoint-sm) {
  .content-body {
    padding-bottom: 160px + $footer-padding-top + $footer-margin;
  }
}
@media (min-width: $breakpoint-md) {
  .content-body {
    padding-bottom: 160px + $footer-padding-top + $footer-margin;
  }
}
@media (min-width: $breakpoint-lg) {
  .content-body {
    padding-bottom: 100px + $footer-padding-top + $footer-margin;
  }
}

.footer {
  a[disabled] {
    pointer-events: none;
  }
  padding-top: $footer-padding-top;
  background-color: $background-light;
  &__nav {
    @extend .d-flex;
    @extend .justify-content-between;
    flex-wrap: wrap;
    &__menu {
      margin-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
      &__title {
        display: inline-block;
        margin-bottom: 0px;
        color: #202124;
      }
      &__item {
        list-style: none;
        padding-top: 3px;
        padding-bottom: 3px;
        a {
          color: #6d6e70;;
        }
      }
    }
  }
  &__actions {
    @extend .d-flex;
    @extend .justify-content-around;
    @extend .align-items-center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    [class*=devfest-button]{
      color: $google-blue;
    }
    .social__nav {
      margin-top: 45px;
      &__menu {
        @extend .d-flex;
        @extend .justify-content-center;
        width: 100%;
        &__item {
          padding: 0px 13px;
          list-style: none;
          height: 40px;
          width: auto;
          opacity: 0.8;
          transition: 0.2s ease-out;
        }
      }
    }

    .social__nav__menu__item:hover {
      opacity: 1;
    }
  }
}
