.organization-wrapper {
  .organization-container {
    @extend .container;
    .organization {
      @extend .row;
    }
  }
}

.organization {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;

    li {
      list-style: none;
      padding: .5rem;

      img {
        height: 80px;
      }
    }
  }
}


