$python-platinum: #939596;
$google-light-yellow: #fde293;
$google-light-red: #fad2cf;
$google-light-green: #a9dab5;
$google-light-blue: #aecbfa;
$google-light-yellow: #fde293;
$google-yellow: #fbbc07;
$google-red: #eb4236;
$google-green: #34a852;
$google-blue: #4185f4;
$google-text-dark: #202124;
$google-text-light: #676c72;
$google-text-white: #fff;

$background-light: #f8f9fa;
$background-dark: #EAEAEA;
$color-text: #363636;
$nav-height: 100px;

// RESPONSIVE BREAKPOINTS
$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 2000px;
