@import 'variables.scss';

@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/utilities';
@import 'utils.scss';
@import 'animations/animations.scss';
@import 'common/common.scss';
@import 'header/header.scss';
@import 'about/about.scss';
@import 'location/location.scss';
@import 'event-map/event-map.scss';
@import 'sponsors/sponsors.scss';
@import 'partners/partners.scss';
@import 'organization/organization.scss';
@import 'event/event.scss';
@import 'footer/footer.scss';

@import 'snackbar.scss';
@import 'dropdown.scss';
@import 'intern-pages/intern-pages.scss';


body {
  background-color: $google-text-white;
  font-family: Google Sans,Arial,sans-serif;
  color: $google-text-dark;
}

p {
  color: $google-text-light;
}

ul {
  margin: 0px;
  padding: 0px;
}

.content-wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #231f20
}

.page-content {
  @extend .transition--opacity-translate;
  background-repeat: no-repeat;
  background-size: 850px;
  background-position-x: 120%;
  background-position-x: calc(100% + 500px);
  background-position-y: 120%;
  background-position-y: calc(100% + 100px);
}

.content-wrapper > section {
  padding-top: 30px;
  padding-bottom: 120px;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.anchor {
  display: block;
  margin-top: -120px;
  position: absolute;
  top: 0;
  left: 0;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.live-icon {
  color: red;
  margin-right: 10px;
}

div#app-hero {
  margin-bottom: 30px;
}

.js-loading[_ngcontent-c3] *[_ngcontent-c3],
.js-loading[_ngcontent-c3] [_ngcontent-c3]:after,
.js-loading[_ngcontent-c3] [_ngcontent-c3]:before {
  animation-play-state: paused !important;
}
[_nghost-c3] {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
}
.page-constraint[_ngcontent-c3] {
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  background-color: #231f20;
  max-width: 100vw;
  height: 90vh;
  position: relative;
  padding: 0;
  overflow: hidden;
  margin: 0;
}
@media screen and (max-width: 750px) {
  .page-constraint[_ngcontent-c3] {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-height: 700px) {
  .page-constraint[_ngcontent-c3] {
    height: 700px;
  }
}
.hero-items-wrapper--mobile[_ngcontent-c3] {
  display: none;
}
@media screen and (max-width: 1000px) {
  .hero-items-wrapper--mobile[_ngcontent-c3] {
    display: block;
  }
}
.hero-items-wrapper--mobile[_ngcontent-c3] img[_ngcontent-c3] {
  position: absolute;
}
.hero-items-wrapper--mobile[_ngcontent-c3] img.slide-down[_ngcontent-c3] {
  animation: slide-down 2s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal
  forwards;
}
.hero-items-wrapper--mobile[_ngcontent-c3] img.slide-up[_ngcontent-c3] {
  animation: slide-up 2s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal
  forwards;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--top-light-blue-circle[_ngcontent-c3] {
  left: 2%;
  top: 30%;
  width: 10px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--red-chatbox[_ngcontent-c3] {
  left: 5%;
  top: 55%;
  width: 9.4%;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--green-diagonal-squares[_ngcontent-c3] {
  left: 10%;
  top: 25%;
  width: 7.5%;
  max-width: 48px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--red-square[_ngcontent-c3] {
  left: 20%;
  top: 45%;
  width: 3.4%;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--bottom-light-blue-circle[_ngcontent-c3] {
  left: 22%;
  top: 65%;
  width: 10px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--yellow-play-button-mobile[_ngcontent-c3] {
  left: 25%;
  top: 18%;
  width: 9.6%;
  max-width: 61px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--green-square[_ngcontent-c3] {
  left: 35%;
  top: 50%;
  width: 7.2%;
  max-width: 46px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--red-diamond[_ngcontent-c3] {
  left: 48%;
  top: 50%;
  width: 12px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--blue-cross[_ngcontent-c3] {
  left: 60%;
  top: 22%;
  width: 6%;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--green-pointer[_ngcontent-c3] {
  left: 65%;
  top: 48%;
  width: 13%;
  max-width: 86px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--blue-circle[_ngcontent-c3] {
  left: 80%;
  top: 20%;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--yellow-sphere[_ngcontent-c3] {
  left: 80%;
  top: 24%;
  width: 14%;
  max-width: 90px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--yellow-vertical-rectangle[_ngcontent-c3] {
  left: 90%;
  top: 50%;
  width: 6.7%;
  max-width: 42px;
}
.hero-items-wrapper--mobile[_ngcontent-c3]
img.hero-image--blue-diamond[_ngcontent-c3] {
  left: 96%;
  top: 40%;
  max-width: 38px;
}
.hero-items-wrapper--desktop[_ngcontent-c3] {
  position: absolute;
  width: 130%;
  height: 100%;
  margin-left: -15%;
}
@media screen and (max-width: 1000px) {
  .hero-items-wrapper--desktop[_ngcontent-c3] {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .hero-items-wrapper--desktop[_ngcontent-c3] {
    width: 100%;
    margin: 0;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3] img[_ngcontent-c3] {
  position: absolute;
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-nested-rectangle[_ngcontent-c3] {
  left: 4%;
  top: 60%;
  animation: fade-in-yellow-nested-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-yellow-nested-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 4%;
    top: 60%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: -2%;
    top: 70%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-rectangle[_ngcontent-c3] {
  left: 15%;
  top: 82%;
  animation: fade-in-yellow-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-yellow-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 15%;
    top: 82%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 12%;
    top: 95%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-semi-circle[_ngcontent-c3] {
  left: 10%;
  top: 8%;
  width: 76px;
  animation: fade-in-yellow-semi-circle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-yellow-semi-circle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 10%;
    top: 8%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 5%;
    top: 15%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--red-square[_ngcontent-c3] {
  left: 18%;
  top: 40%;
  width: 22px;
  animation: fade-in-red-square 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s
  1 normal forwards;
}
@keyframes fade-in-red-square {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 18%;
    top: 40%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 2%;
    top: 42%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--left-red-rectangle[_ngcontent-c3] {
  left: 20%;
  top: 58%;
  animation: fade-in-left-red-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-left-red-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 20%;
    top: 58%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 13%;
    top: 60%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--red-diamond[_ngcontent-c3] {
  left: 22%;
  top: 40%;
  animation: fade-in-red-diamond 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s
  1 normal forwards;
}
@keyframes fade-in-red-diamond {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 22%;
    top: 40%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 17%;
    top: 42%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-diagonal-squares[_ngcontent-c3] {
  left: 25%;
  top: 25%;
  animation: fade-in-green-diagonal-squares 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-green-diagonal-squares {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 25%;
    top: 25%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 17%;
    top: 15%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--red-chatbox[_ngcontent-c3] {
  left: 30%;
  top: 28%;
  width: 60px;
  animation: fade-in-red-chatbox 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s
  1 normal forwards;
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--light-blue-circle[_ngcontent-c3] {
  left: 32%;
  top: 75%;
  animation: fade-in-light-blue-circle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-light-blue-circle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 32%;
    top: 75%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 16%;
    top: 80%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-vertical-rectangle[_ngcontent-c3] {
  left: 35%;
  top: 55%;
  animation: fade-in-yellow-vertical-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-yellow-vertical-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 35%;
    top: 55%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 20%;
    top: 60%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-square[_ngcontent-c3] {
  left: 38%;
  top: 55%;
  width: 55px;
  animation: fade-in-green-square 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-green-square {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 38%;
    top: 55%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 28%;
    top: 90%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-pointer[_ngcontent-c3] {
  left: 40%;
  top: 35%;
  animation: fade-in-yellow-pointer 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-yellow-pointer {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 40%;
    top: 35%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 28%;
    top: 3%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--light-red-square[_ngcontent-c3] {
  left: 42%;
  top: 57%;
  animation: fade-in-light-red-square 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-light-red-square {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 42%;
    top: 57%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 40%;
    top: 72%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--light-red-rectangle[_ngcontent-c3] {
  left: 48%;
  top: 10%;
  width: 30px;
  animation: fade-in-light-red-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-light-red-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 48%;
    top: 10%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 40%;
    top: 3%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-circle[_ngcontent-c3] {
  left: 49%;
  top: 60%;
  animation: fade-in-green-circle 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-green-circle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 49%;
    top: 60%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 45%;
    top: 80%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--blue-cross[_ngcontent-c3] {
  left: 50%;
  top: 70%;
  width: 32px;
  animation: fade-in-blue-cross 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s
  1 normal forwards;
}
@keyframes fade-in-blue-cross {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 50%;
    top: 70%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 60%;
    top: 80%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-play-button[_ngcontent-c3] {
  left: 52%;
  top: 15%;
  animation: fade-in-yellow-play-button 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-yellow-play-button {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 52%;
    top: 15%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 58%;
    top: 7%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--blue-chevron[_ngcontent-c3] {
  left: 55%;
  top: 38%;
  animation: fade-in-blue-chevron 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-blue-chevron {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 55%;
    top: 38%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 50%;
    top: 15%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-pointer[_ngcontent-c3] {
  left: 62%;
  top: 60%;
  width: 80px;
  animation: fade-in-green-pointer 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-green-pointer {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 62%;
    top: 60%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 75%;
    top: 72%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-half-oval[_ngcontent-c3] {
  left: 63%;
  top: 80%;
  width: 30px;
  animation: fade-in-green-half-oval 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-green-half-oval {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 63%;
    top: 80%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 70%;
    top: 85%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--top-blue-circle[_ngcontent-c3] {
  left: 72%;
  top: 20%;
  animation: fade-in-top-blue-circle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-top-blue-circle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 72%;
    top: 20%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 78%;
    top: 12%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--green-rectangle[_ngcontent-c3] {
  width: 70px;
  left: 75%;
  top: 10%;
  animation: fade-in-green-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-green-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 75%;
    top: 10%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 85%;
    top: 5%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--bottom-blue-circle[_ngcontent-c3] {
  left: 75%;
  top: 40%;
  animation: fade-in-bottom-blue-circle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-bottom-blue-circle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 75%;
    top: 40%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 85%;
    top: 50%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--yellow-sphere[_ngcontent-c3] {
  left: 76%;
  top: 25%;
  animation: fade-in-yellow-sphere 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-yellow-sphere {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 76%;
    top: 25%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 83%;
    top: 23%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--orange-curve[_ngcontent-c3] {
  left: 78%;
  top: 75%;
  width: 40px;
  animation: fade-in-orange-curve 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-orange-curve {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 78%;
    top: 75%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 85%;
    top: 85%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--red-hand[_ngcontent-c3] {
  left: 79%;
  top: 42%;
  animation: fade-in-red-hand 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1
  normal forwards;
}
@keyframes fade-in-red-hand {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 79%;
    top: 42%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 93%;
    top: 46%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--right-red-rectangle[_ngcontent-c3] {
  left: 80%;
  top: 36%;
  animation: fade-in-right-red-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-right-red-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 80%;
    top: 36%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 99%;
    top: 35%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--blue-vertical-rectangle[_ngcontent-c3] {
  left: 82%;
  top: 55%;
  animation: fade-in-blue-vertical-rectangle 3s
  cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s 1 normal forwards;
}
@keyframes fade-in-blue-vertical-rectangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 82%;
    top: 55%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 87%;
    top: 61%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--red-triangle[_ngcontent-c3] {
  left: 82%;
  top: 85%;
  width: 60px;
  animation: fade-in-red-triangle 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-red-triangle {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 82%;
    top: 85%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 95%;
    top: 90%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--blue-diamond[_ngcontent-c3] {
  left: 90%;
  top: 25%;
  animation: fade-in-blue-diamond 3s cubic-bezier(0.07, 0.7, 0.43, 0.92)
  0s 1 normal forwards;
}
@keyframes fade-in-blue-diamond {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    left: 90%;
    top: 25%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 105%;
    top: 19%;
  }
}
.hero-items-wrapper--desktop[_ngcontent-c3]
img.hero-image--blue-square[_ngcontent-c3] {
  left: 92%;
  top: 75%;
  animation: fade-in-blue-square 3s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0s
  1 normal forwards;
}
@keyframes fade-in-blue-square {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
    transform: scale(0.7);
  }
  25% {
    left: 92%;
    top: 75%;
    opacity: 1;
    transform: scale(1);
  }
  to {
    left: 100%;
    top: 78%;
  }
}
.copy[_ngcontent-c3] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  flex: 1;
  min-width: 420px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  max-width: 680px;
}
@media screen and (max-width: 750px) {
  .copy[_ngcontent-c3] {
    top: 25%;
    width: 100%;
    min-width: 0;
  }
}
.cta[_ngcontent-c3] {
  text-align: center;
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 35%;
  color: #ffffff;
  cursor: pointer;
  background-color: #231f20;
  opacity: 0;
  animation: slide-in-cta 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.75s 1
  normal forwards;
}
@media screen and (max-width: 1000px) {
  .cta[_ngcontent-c3] {
    display: none;
  }
}
.cta.cta--mobile[_ngcontent-c3] {
  display: none;
}
@media screen and (max-width: 1000px) {
  .cta.cta--mobile[_ngcontent-c3] {
    display: block;
    width: 40%;
    left: 30%;
    animation: slide-in-cta 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.5s 1
    normal forwards;
  }
}
@media screen and (max-width: 750px) {
  .cta.cta--mobile[_ngcontent-c3] {
    width: 60%;
    left: 20%;
    bottom: 5%;
  }
}
.cta[_ngcontent-c3] .cta-text[_ngcontent-c3] {
  padding-bottom: 15px;
  font: 500 16px Google Sans, Arial, sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 750px) {
  .cta[_ngcontent-c3] .cta-text[_ngcontent-c3] {
    font-size: 12px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 750px) {
  .cta[_ngcontent-c3] .cta-icon[_ngcontent-c3] {
    width: 14px;
  }
}
.title[_ngcontent-c3] {
  margin-bottom: 42px;
}
@media screen and (max-width: 1000px) {
  .title[_ngcontent-c3] {
    margin: 0 5% 30px;
  }
}
.title[_ngcontent-c3] .logo-mobile[_ngcontent-c3] {
  display: none;
}
@media screen and (max-width: 1000px) {
  .title[_ngcontent-c3] .logo-mobile[_ngcontent-c3] {
    opacity: 0;
    display: block;
    width: 100%;
    animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 0.75s 1
    normal forwards;
  }
}
.title[_ngcontent-c3] .logo-base[_ngcontent-c3] {
  opacity: 0;
  width: 680px;
  animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.25s 1
  normal forwards;
}
@media screen and (max-width: 1000px) {
  .title[_ngcontent-c3] .logo-base[_ngcontent-c3] {
    display: none;
  }
}
.title[_ngcontent-c3] .logo-details[_ngcontent-c3] {
  width: 656px;
  position: absolute;
  top: 3%;
  left: 1.75%;
  opacity: 0;
  animation: fade-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.75s 1 normal
  forwards;
}
@media screen and (max-width: 1000px) {
  .title[_ngcontent-c3] .logo-details[_ngcontent-c3] {
    display: none;
  }
}
.subheader[_ngcontent-c3] {
  margin-bottom: 33px;
  text-align: center;
  opacity: 0;
  animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.5s 1 normal
  forwards;
}
@media screen and (max-width: 1000px) {
  .subheader[_ngcontent-c3] {
    display: none;
  }
}
.subheader.subheader--mobile[_ngcontent-c3] {
  display: none;
  opacity: 0;
}
@media screen and (max-width: 1000px) {
  .subheader.subheader--mobile[_ngcontent-c3] {
    display: block;
    animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.25s 1
    normal forwards;
    margin-bottom: 30px;
  }
  .subheader.subheader--mobile[_ngcontent-c3] svg[_ngcontent-c3] {
    height: 39px;
  }
}
@media screen and (max-width: 750px) {
  .subheader.subheader--mobile[_ngcontent-c3] svg[_ngcontent-c3] {
    height: 29px;
  }
}
.description[_ngcontent-c3] {
  line-height: 1.5;
  font: 400 24px Google Sans, Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  background-color: #231f20;
  width: 80%;
  margin: 0 auto 20px;
  animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.5s 1 normal
  forwards;
}
@media screen and (max-width: 1000px) {
  .description[_ngcontent-c3] {
    display: none;
  }
}
.description.description--mobile[_ngcontent-c3] {
  width: 100%;
  margin: 0 0 20px;
  display: none;
  opacity: 0;
}
@media screen and (max-width: 1000px) {
  .description.description--mobile[_ngcontent-c3] {
    display: block;
    font-size: 16px;
    animation: slide-in 1s cubic-bezier(0.07, 0.7, 0.43, 0.92) 1.25s 1
    normal forwards;
  }
}
@media screen and (max-width: 750px) {
  .description.description--mobile[_ngcontent-c3] {
    font-size: 14px;
  }
}
@keyframes fade-in-red-chatbox {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  12% {
    opacity: 0;
  }
  25% {
    left: 30%;
    top: 28%;
    opacity: 1;
    transform: scale(1);
  }
  75% {
    left: 10%;
    top: 30%;
  }
  to {
    left: 10%;
    top: 30%;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-cta {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(150px);
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
@keyframes slide-up-tablet {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10vh);
  }
}